<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donation</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lrtk.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/jquery.toastmessage.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span>Hurricare </span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span> Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="login.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> Main Page</a></li>
        <li><a href="user.html"><span class="glyphicon glyphicon-user"></span> Users Management</a></li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Donations Management</a></li>
        <li><a href="request.html"><span class="glyphicon glyphicon-th-list"></span> Requests Management</a></li>
    </ul>
</div><!--/.sidebar-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" ng-controller="DonationCtrl">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Donations</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Donations</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span>   Donations Information</div>
                    <div class="panel-body">
                        <table id = "table">
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-alert"></span> Set Status</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- id input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="id"> Id</label>
                                <div class="col-md-9">
                                    <input id="id" name="id" ng-model="id" type="text" placeholder="Donation Id"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="id"> Status</label>
                                <div class="col-md-9">
                                    <select ng-options="sta for sta in statuses" ng-model="status"
                                            class="form-control">
                                        <option value="">Please select</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Form actions -->
                            <div class="form-group">
                                <div class="col-md-12 widget-right">
                                    <button type="submit" ng-click="setStatus(id,status)"
                                            class="btn btn-default btn-md pull-right">Submit
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/controllers/DonationCtrl.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-table.js"></script>
<script type="text/javascript" src="js/chart-data.js"></script>
<script type="text/javascript" src="js/chart.min.js"></script>
<script type="text/javascript" src="js/profile.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/html5shiv.min.js"></script>
<script type="text/javascript" src="js/easypiechart-data.js"></script>
<script type="text/javascript" src="js/easypiechart.js"></script>
<script type="text/javascript" src="js/jquery.toastmessage.js"></script>
</body>
</html>
